//Contact Jade
extends layout.jade
block head
  title #{title}
block content
  .container
    h1 Contact
    form(method='POST')
      .form-group
        label Name
        input(type='text', name='name', placeholder='Abe Lincoln')
      .form-group
        label Email
        input(type='email', name='email', placeholder='Abe@gamil.com')
      .form-group
        label Message
        textarea(name='message', placeholder='This is awesome')
      .form-group
        input(type='submit', value='Contact Us')


